<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BoostDependency.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BoostDependency.Properties.Settings>
            <setting name="SVN_PATH" serializeAs="String">
                <value>http://svn.boost.org/svn/boost/tags/release/Boost_1_43_0</value>
            </setting>
            <setting name="LOCAL_PATH" serializeAs="String">
                <value>C:\boost</value>
            </setting>
            <setting name="SVN_REVISION" serializeAs="String">
                <value>HEAD</value>
            </setting>
            <setting name="ENVIRONMENT_VARIABLE" serializeAs="String">
                <value>BOOST_ROOT</value>
            </setting>
        </BoostDependency.Properties.Settings>
    </userSettings>
</configuration>